@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: open sans;
    margin: 0;
    padding: 0;
}

.banner {
    padding: 0 50px;
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 50px, bottom right;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    padding: 50px 0;
    align-items: center;
}

#navlinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}

#navlinks a {
    text-decoration: none;
}

.colored-text {
    color: #FD6E0A;
}

dark-1 {
    color: #181818;
}

dark-2{
    color: #474747;
}

dark-3{
    color: #757575;
}

.btn {
    font-size: 20px;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 19px 36px;
}

.btn-2 {
    font-size: 20px;
    color:  #FD6E0A;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 19px 36px;
}

.greetings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
}

.intro {
    max-width: 585px;
    max-height: 356px;
}

.greeting {
    font-size: 45px;
    font-weight: 600;
}

.name {
    font-size: 85px;
    font-weight: bold;
}

.details {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* About Section begins */

section {
    margin: 130px 230px 0;
    
}

.about {
    padding: 130px 155px;
    background-color: #FFF8F3;
}

.about-heading {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}